.checkout_page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: #f8f9fa;
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 20px;
}

.address_checkout_page {
  width: 80%;
  height: max-content;
  background-color: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}
.header_address_checkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  column-gap: 5px;
}
.information_address_checkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 10px;
}
.information_address_checkout button {
  background-color: transparent;
  border: none;
  color: #3a86ff;
  cursor: pointer;
  font-size: 16px;
}
.header_address_checkout p {
  font-size: 20px;
}
.information_address_checkout p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.information_address_checkout p:first-child {
  font-size: 16px;
  font-weight: bold;
}
.field_bar_checkout {
  display: flex;
  flex-direction: row;
  width: 80%;
  background-color: #fff;
}
.field_bar_checkout div {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.field_bar_checkout div:first-child {
  margin-left: 20px;
  justify-content: space-around;
  font-size: 20px;
}

.field_bar_checkout div:last-child {
  margin-right: 20px;
  justify-content: space-around;
  color: #adb5bd;
}
.shop_checkout {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}
.shop_checkout_header {
  width: 90%;
}
.product_checkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9ecef;
}
.product_checkout_left_section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  margin-left: 20px;
  column-gap: 10px;
}
.product_checkout_right_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-right: 20px;
}
.product_checkout_right_section div {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout_shop_name {
  font-weight: 600;
  margin-bottom: 0px;
}
.product_information_checkout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.product_information_checkout p:last-child {
  color: #8b8c89;
  font-size: 14px;
}
.product_checkout_right_section div:last-child {
  font-size: 16px;
  font-weight: bold;
}
.checkout_information_shipping {
  display: flex;
  flex-direction: row;
  width: 90%;
}
.checkout_information_shipping div {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkout_information_shipping div:first-child {
  column-gap: 20px;
  border-right: 1px dashed #01161e;
}
.checkout_information_shipping div:last-child {
  justify-content: space-around;
  column-gap: 20px;
}
.checkout_information_shipping div:last-child p:last-child {
  font-weight: bold;
  font-size: 16px;
}
.checkout_final_step {
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkout_final_step div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: max-content;
  margin-bottom: 20px;
  align-items: center;
  column-gap: 10px;
}
.checkout_final_step div:first-child p:last-child {
  font-size: 40px;
  color: #ff8600;
}
.checkout_final_step button {
  width: 250px;
  height: 50px;
  border: none;
  background-color: #679436;
  color: #fff;
  font-size: x-large;
  cursor: pointer;
}
.checkout_final_step .back-button {
  width: 200px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  margin-top: 10px;
  background-color: #455a64; /* Darker color */
}
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  width: 50%;
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content li {
  background-color: #f8f8f8;
  margin-top: 8px;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.modal-content li div {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.shipping_selection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fafafa;
}

.shipping_selection p {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
}

.shipping_selection button {
  background-color: transparent;
  border: none;
  color: #3a86ff;
  cursor: pointer;
  font-size: 16px;
}

.shipment_status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.9rem;
}

.shipment_status strong {
  color: #333; /* Bold text for shipment type */
  margin-right: 8px;
}

.shipment_status_price {
  margin-right: 5px;
  color: black;
}

.shipment_note {
  color: #666; /* Gray text for notes */
  font-size: 10px;
}

.shipping_selection .shipment_status {
  font-size: 14px;
  color: #333;
}
.payment_methods {
  display: flex;
  border: 1px solid #ccc; /* Example border, adjust as necessary */
  overflow: hidden;
  border-radius: 5px;
  margin-top: 10px;
}

.payment_method {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #ccc;
  background-color: #f9f9f9;
}

.payment_method:last-child {
  border-right: none;
}

.payment_method.selected {
  border: 3px solid #679436;
  color: #679436;
}

.orderdetailtable {
  width: 80%;
  border-collapse: collapse;
}
.orderdetailtable th,
.orderdetailtable td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.orderdetailtable th {
  background-color: #4caf50;
  color: white;
}
.orderdetailtable tr:hover {
  background-color: #f5f5f5;
}
.orderdetailtable .comment_button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.orderdetailtable .btn_delete_image {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.orderdetailtable textarea {
  width: 500px;
  height: 100px;
  margin-right: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.select_province_region_for_adding_address {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}

.add_new_address_container_checkout {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: max-content;
}
.price-checkout-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 300px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.price-check-text {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: flex-start;
}

.price-label {
  font-weight: bold;
  flex-shrink: 0;
  margin-right: 5px;
  white-space: nowrap;
}

.price-value {
  color: #333;
  flex-grow: 1;
  text-align: right;
}

.separator {
  text-align: center;
  margin: 10px 0;
}
