.listProductOfShopContainer {
  position: relative;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.shopNameContainerShopScreen {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  background-color: #1a1f35;
  margin-top: 10px;
}
.productList_mobile {
  display: none;
}

.imageSellerContainer {
  width: 100px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
  padding: 2px;
}
.textContainerShopScreen {
  color: white;
}

@media (max-width: 760px) {
  .productList {
    display: none;
  }

  .productList_mobile {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure the main container takes full width of the screen */
    overflow: hidden; /* Prevents scrolling of the entire screen */
  }

  .productList_mobile .row {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Prevents vertical scrolling within the rows */
    width: 100%; /* Each row takes the full width of the container */
    padding: 10px 0; /* Add vertical padding if needed, remove horizontal padding */
    box-sizing: border-box;
    white-space: nowrap; /* Keeps items in a single line */
    flex-wrap: nowrap; /* Ensures no wrapping of items within a row */
  }
}
