.category_product_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.category_product_container_mobile {
  display: none;
}
.category_page {
  margin-top: 100px;
}

/* Pagination container */
.pagination {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
}

/* Pagination buttons */
.pagination button {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
.pagination button:hover {
  background-color: #f8f8f8;
  color: #444;
}

/* Active page button styling */
.pagination button.active {
  background-color: #237943; /* Changed color for active state */
  color: #ffffff;
  border-color: #237943;
}

/* Disable text selection for buttons */
.pagination button {
  user-select: none;
}

@media (max-width: 768px) {
  .category_product_container {
    display: none;
  }
  .category_product_container_mobile {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure the main container takes full width of the screen */
    overflow: hidden;
  }
  .category_product_container_mobile .rowProduct {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Prevents vertical scrolling within the rows */
    width: 100%; /* Each row takes the full width of the container */
    padding: 10px 0; /* Add vertical padding if needed, remove horizontal padding */
    box-sizing: border-box;
    white-space: nowrap; /* Keeps items in a single line */
    flex-wrap: nowrap;
  }
}
