.best_seller_tag {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: max-content;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 0.3s;
  border: none;
}

.best_seller_tag:hover {
  background-color: #adb5bd;
}

.best_seller_tag_img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.best_seller_product_infor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 20px;
  margin-left: 10px;
  justify-content: center;
  align-items: flex-start;
}

.best_seller_product_infor p {
  margin: 0;
  font-size: 15px;
}
