.listProductOfShopContainer {
  position: relative;
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shopNameContainerShopScreen {
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  background-color: #1a1f35;
  margin-top: 10px;
}

.imageSellerContainer {
  width: 100px;
  height: 100px;
  background-color: none;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
  padding: 2px;
}
.textContainerShopScreen {
  color: white;
}
